<%= render "shared/navbar", for_sign_up: false %>

<div class="row sign-in">
  <div class="col-md-offset-4 col-md-4">
    <h1>Log in</h1>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <h4>
      Not registered yet?
      <button class="btn btn-default btn-warning" href="<%= new_user_url %>">Sign up</button> or use a
      <button class="btn btn-primary btn-success" href="/#">demo account</button>
    </h4>
  </div>
  <div class="col-md-offset-2 col-md-8">
    <%= render "shared/form_for_sign_up_or_sign_in", for_sign_up: false %>
  </div>
</div>

<script type="text/javascript">
  $button = $('.btn-success');

  var email = "olaf@frozen.com",
      password = "123456";

  function login () {
    $.ajax({
      url: "<%= session_url %>",
      type: "POST",
      data: {user: {email: email, password: password}},
      success: function () {
        window.location = "/";
      },
      error: function () {
        window.location = "/";
      }
    });
  }

  $button.on("click", function (e) {
    e.preventDefault();
    $('#user_email').val(email);
    $('#user_password').val(password);
    $('.btn-primary').attr("disabled", true);
    $('.btn-primary').text("Logging In");
    login();
  });
  window.cloud_name = "<%= ENV["cloudinary_cloud_name"] %>";
  window.upload_preset = "<%= ENV["cloudinary_upload_preset"] %>";
  $.cloudinary.config("cloud_name", cloud_name);
  var url = $.cloudinary.url("fireworks_dt0utu", {width: 2000, crop: 'fill'});
  $('body').css("background", 'url(' + url + ') no-repeat');
</script>
