<% val_str = value ? " value=#{value}" : "" %>

<div class="row form-group">
  <div class="col-md-offset-3 col-md-6">
    <label for="<%= for_name %>"><%= label %></label>
    <input type="<%= type %>" class="form-control" name="<%= name %>"
           id="<%= for_name %>" <%= val_str %> >
  </div>
</div>
