<!DOCTYPE html>
<html>
<head>
  <title>CompeteUp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render "shared/flash", type: :info %>
  <%= render "shared/flash", type: :errors %>

  <%= yield %>
  <% if current_user  %>
    <script>
      window.CURRENT_USER_INFO = <%= "{id: #{current_user.id}, profilePicUrl: '#{current_user.profile_pic_url || 0}', name: '#{current_user.name}'}".html_safe %>;

      <% interests = [] %>
      <% Interest.select(:name, :id).each do |interest| %>
        <% interests << interest %>
      <% end %>
      window.LOCATIONS = ["San Francisco, CA", "Berkeley, CA",
                      "Los Angeles, CA", "Eureka, CA"];
      window.INTERESTS = <%= interests.to_json.html_safe %>;
      window.cloud_name = "<%= ENV["cloudinary_cloud_name"] %>";
      window.upload_preset = "<%= ENV["cloudinary_upload_preset"] %>";
      $.cloudinary.config("cloud_name", cloud_name);
    </script>
  <% end %>
</body>
</html>
